                                        Q1

In [86]:
import regex as re

In [87]:
from IPython.utils.text import string

In [88]:
txt="welcome @ 1234567 this is our portal*#1234567"

In [89]:
pattern='[a-zA-Z0-9]'

In [90]:
result=re.findall(pattern,txt)
print(result)

['w', 'e', 'l', 'c', 'o', 'm', 'e', '1', '2', '3', '4', '5', '6', '7', 't', 'h', 'i', 's', 'i', 's', 'o', 'u', 'r', 'p', 'o', 'r', 't', 'a', 'l', '1', '2', '3', '4', '5', '6', '7']

                                            Q2

In [91]:
def match_string(pattern,string):
    regex=r'a[b]*'
    matches=re.findall(regex,string)
    return matches

In [92]:
input_string="Every 100 years called a century which is come after 100 years, said babita, bubina, barbara, babuna and barbashekh"

In [93]:
pattern="a[b]*"

In [94]:
result=match_string(pattern,input_string)
print(result)

['a', 'a', 'a', 'a', 'a', 'a', 'ab', 'a', 'a', 'a', 'a', 'a', 'ab', 'a', 'a', 'a', 'a']

                                                Q3

In [95]:
def match_str(pattern,string):
    regex=r'a[b]+'
    matches=re.findall(regex,string)
    return matches

In [96]:
input_string="Every 100 years called a century which is come after 100 years, said babita, bubina, barbara, babuna and barbashekh"

In [97]:
pattern="a[b]+"

In [98]:
result=match_str(pattern,input_string)
print(result)

['ab', 'ab']

                                            Q4

In [99]:
def match_strr(pattern,string):
    regex=r'a[b]?'
    matches=re.findall(regex,string)
    return matches

In [100]:
input_string="Every 100 years called a century which is come after 100 years, said babita, bubina, barbara, babuna and barbashekh"

In [101]:
pattern="a[b]?"

In [102]:
result=match_strr(pattern,input_string)
print(result)

['a', 'a', 'a', 'a', 'a', 'a', 'ab', 'a', 'a', 'a', 'a', 'a', 'ab', 'a', 'a', 'a', 'a']

                                            Q5

In [103]:
target_string="abbb abb abbb abbbbb abbb abbbbb abbb"

In [104]:
#a followed by 3 b

In [105]:
pattern=r"a(b{3})"

In [106]:
matches=re.findall(pattern,target_string)
print(matches)

['bbb', 'bbb', 'bbb', 'bbb', 'bbb', 'bbb']

                                                Q6

In [107]:
sample_text="ImportanceOfRegularExpressionsInPython"

In [108]:
#split the string from every uppercase letter

In [109]:
result=re.findall('[A-Z][^A-Z]*', sample_text)
print(result)

['Importance', 'Of', 'Regular', 'Expressions', 'In', 'Python']

                                                Q7

In [110]:
target_string="abbb abb abbb abbbbb abbb abbbbb abbb abbbbbb vabbbbbbbb"

In [111]:
# a followed by 2 to 3 b's

In [112]:
pattern=r'ab{2,3}'

In [113]:
matches=re.findall(pattern,target_string)
print(matches)

['abbb', 'abb', 'abbb', 'abbb', 'abbb', 'abbb', 'abbb', 'abbb', 'abbb']

                                                Q8

In [114]:
target_string="PG DIPLOMA in_ data_scicence and_ machine_learning "

In [115]:
#sequences of lower case joined with _

In [116]:
pattern=r'[a-z]+_[a-z]+'

In [117]:
matches=re.findall(pattern,target_string)
print(matches)

['data_scicence', 'machine_learning']

                                                Q9

In [118]:
input_string="abhinab aurangjeb aarab arun achal abhirab seema geeta anant"

In [119]:
#string staring from 'a' ending with 'b'

In [120]:
pattern=r'a.*?b\b'

In [121]:
output=re.findall(pattern,input_string)
print(output)

['abhinab', 'aurangjeb', 'aarab', 'arun achal abhirab']

                                            Q10

In [122]:
input_string="India is a beautiful country. It has four metro cities"

In [123]:
#matches a word at the beginning of a string.

In [124]:
pattern="^India"

In [125]:
x=re.findall(pattern,input_string)

In [126]:
print(x)

['India']

                                        Q11

In [127]:
#to match a string that contains only upper and lowercase letters, numbers, and underscores.

In [128]:
text="PG Diploma in DATA_SCIENCE , MACHINE_LEARNING and NEURAL NETWORK duration 12 months , 6 months by datatrained institute"

In [129]:
def is_valid_string(string):
    pattern = r'^[a-zA-Z0-9_]+$'
    match = re.match(pattern, string)
    return bool(match)

In [130]:
def print_valid_words(string):
    words = string.split()
    valid_words = [word for word in words if is_valid_string(word)]
    for valid_word in valid_words:
        print(valid_word)

In [131]:
print("Valid words in the given string:")
print_valid_words(text)

Valid words in the given string:
PG
Diploma
in
DATA_SCIENCE
MACHINE_LEARNING
and
NEURAL
NETWORK
duration
12
months
6
months
by
datatrained
institute

                                                Q12

In [132]:
#a string will start with a specific number.

In [133]:
msg="100 years is called century 100 is also called one 100I gave him a 100 rupee note"

In [134]:
number=100

In [135]:
pattern=(r"^100")

In [136]:
x=re.findall(pattern,msg)

In [137]:
print(x)

['100']


                                                Q13

In [138]:
def remove_leading_zeros(ip_address):
    parts = ip_address.split('.')
    parts = [str(int(part)) for part in parts]  # Remove leading zeros
    return '.'.join(parts)

In [139]:
ip_address='10.00.01.10'

In [140]:
result=remove_leading_zeros(ip_address)
print(result)

10.0.1.10

                                                    Q14

In [141]:
#to match a date string in the form of Month name followed by day number and year stored in a text file.

In [146]:
with open("C:\Users\dell\Desktop\content\Extract date.txt")as file:
    for line in file:
        date=re.match(r"\b([A-Za-z]+\d{1,2}(?:st|nd|rd|th)\d{4})\b")

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 2-3: truncated \UXXXXXXXX escape (3713009006.py, line 1)

In [147]:
if match:
    date_string =date.group(1)
    print(date_string)
else:
    print("No date string found.")

NameError: name 'match' is not defined

                                                Q15

In [148]:
import regex as re

In [149]:
from IPython.utils.text import string

In [150]:
#to search some literals strings in a string.

In [151]:
def search_strings(text,searched_words):
    found_words = []
    for word in searched_words:
        if word in text:
            found_words.append(word)
    return found_words

In [152]:
sample_text='The quick brown fox jumps over the lazy dog.'

In [153]:
searched_words=['fox','dog','horse']

In [154]:
result = search_strings(sample_text, searched_words)
print(result)

['fox', 'dog']

                                                Q16

In [155]:
#to search a literals string in a string and also find the location within the original string

In [156]:
def search_string_with_location(text,pattern):
    locations=[]
    start=0
    while True:
        index=text.find(pattern,start)
        if index==-1:
            break
        locations.append(index)
        start=index+1
    return locations

In [157]:
sample_text='The quick brown fox jumps over the lazy dog.'

In [158]:
searched_word='fox'

In [159]:
result=search_string_with_location(sample_text,searched_word)
print(result)

[16]

                                                Q17

In [160]:
#to find the substrings within a string.

In [161]:
string="Python exercises, PHP exercises, C# exercises"

In [162]:
sub_string="exercises"

In [163]:
pattern=re.search(sub_string,string)
print(pattern)

<regex.Match object; span=(7, 16), match='exercises'>

In [164]:
print(pattern.group())

exercises

                                                Q18

In [165]:
#the occurrence and position of the substrings within a string.

In [166]:
def find_substring_occurrences(text, substring):
    occurrences = []
    start = 0
    while True:
        index = text.find(substring, start)
        if index==-1:
            break
        occurrences.append(index)
        start=index + 1
    return occurrences

In [167]:
sample_text = 'Python exercises, PHP exercises, C# exercises'
substring = 'exercises'

In [168]:
occurrences = find_substring_occurrences(sample_text, substring)
print("Occurrences:", len(occurrences))
print("Positions:", occurrences)

Occurrences: 3
Positions: [7, 22, 36]

                                                Q19

In [169]:
#to convert a date of yyyy-mm-dd format to dd-mm-yyyy format.

In [170]:
def convert_date(date):
    parts=date.split('-')
    converted_date=parts[2]+'-'+parts[1]+'-'+parts[0]
    return converted_date

In [171]:
date='2023-07-14'

In [172]:
converted_date=convert_date(date)
print(converted_date)

14-07-2023

                                                    Q20

In [173]:
#to find all words starting with 'a' or 'e' in a given string.

In [174]:
sample_text="Project K, directed by Nag Ashwin, is called Indiaâ€™s most expensive film with a reported budget of around Rs 600 crore"

In [175]:
def find_words(text):
    pattern=r'\b[aAeE]\w+'
    words=re.findall(pattern,text)
    return words

In [176]:
found_words=find_words(sample_text)
print(found_words)

['Ashwin', 'expensive', 'around']

In [177]:
import regex as re

In [178]:
from IPython.utils.text import string

                                            Q21

In [179]:
#to separate and print the numbers and their position of a given string.

In [180]:
def extract_number(text):
    pattern=r'\d+'
    numbers=re.findall(pattern,text)
    positions=[match.start() for match in re.finditer(pattern,text)]
    return numbers, positions

In [181]:
sample_string="In India, there are 1, 2, 5, 10, 20, 50, 100, 200, 500, and 2000 rupees notes"

In [182]:
numbers,positions=extract_number(sample_string)

In [183]:
print("Numbers:", numbers)
print("Positions:", positions)

Numbers: ['1', '2', '5', '10', '20', '50', '100', '200', '500', '2000']
Positions: [20, 23, 26, 29, 33, 37, 41, 46, 51, 60]

                                                Q22

In [184]:
#to extract maximum numeric value from a string

In [185]:
def maximum(text):
    numbers=re.findall(r'\d+',text)
    max_value=max(map(int,numbers))
    return max_value

In [186]:
sample_string="55, 60, 999, 234, 70, 50, 34, 223, 666, 2, 59, 21, 456"

In [187]:
max_value=maximum(sample_string)
print("Maximum Numeric Value:",max_value)

Maximum Numeric Value: 999

                                            Q23

In [188]:
#to put spaces between words starting with capital letters

In [189]:
text="IWantToBeADataScientistAndAfterLearningPythonAndMachineLearning"

In [190]:
pattern=r"(?<!^)(?=[A-Z])"

In [191]:
result=re.sub(pattern,' ',text)

In [192]:
print(result)

I Want To Be A Data Scientist And After Learning Python And Machine Learning

                                            Q24

In [193]:
#to find sequences of one upper case letter followed by lower case letters

In [194]:
text="I Want to be A Data Scientist and after Learning Python and Machine Learning"

In [195]:
pattern=r"\b[A-Z][a-z]+\b"

In [196]:
result=re.findall(pattern,text)

In [197]:
print(result)

['Want', 'Data', 'Scientist', 'Learning', 'Python', 'Machine', 'Learning']

                                                Q25

In [198]:
#to remove duplicate words from Sentence

In [199]:
sentence = "The report report report further added added that the makers makers are planning to cast an A-lister as the villain in the upcoming actioner cast cast."

In [200]:
pattern = r'\b(\w+)\b(?=.*\b\1\b)'

In [201]:
# Find and remove duplicate words
result=re.sub(pattern, '', sentence)

In [202]:
# Remove extra spaces
result=re.sub(r'\s+',' ',result)

In [203]:
print(result.strip())

The report further added that makers are planning to an A-lister as villain in the upcoming actioner cast.

                                                Q26

In [204]:
#to accept string ending with alphanumeric character.

In [205]:
strings=["India1", "China2", "Hongkong3", "Russia", "Nepal", "US4", "USA5", "France6"]

In [206]:
pattern=r"\w\d$"

In [207]:
for i in strings:
    if re.search(pattern,i):
        print(f"{i} is valid")
    else:
        print(f"{i} is not valid")

India1 is valid
China2 is valid
Hongkong3 is valid
Russia is not valid
Nepal is not valid
US4 is valid
USA5 is valid
France6 is valid

                                        Q27

In [208]:
#to extract the hashtags.

In [209]:
text = """RT @kapil_kausik: #Doltiwal I mean #xyzabc is "hurt" by #Demonetization as the same has rendered USELESS <ed><U+00A0><U+00BD><ed><U+00B1><U+0089> "acquired funds" No wo"""

In [210]:
pattern=r"#\w+"

In [211]:
hashtags=re.findall(pattern,text)
print(hashtags)

['#Doltiwal', '#xyzabc', '#Demonetization']

                                            Q28

In [212]:
#to remove <U+..>

In [213]:
text="@Jags123456 Bharat band on 28??<ed><U+00A0><U+00BD><ed><U+00B8><U+0082>Those who are protesting #demonetization are all different party leaders"

In [214]:
pattern=r"<U\+[A-Za-z0-9]+\>"

In [215]:
cleaned_text=re.sub(pattern,'',text)
print(cleaned_text)

@Jags123456 Bharat band on 28??<ed><ed>Those who are protesting #demonetization are all different party leaders

                                            Q29

In [216]:
#to extract dates from the text stored in the text file.

In [221]:
with open("C:\Users\dell\Desktop\content\Extractdated.txt")as file:
    text=file.read
    # Define regex pattern to extract dates (dd-mm-yyyy format)
pattern = r'\b\d{2}-\d{2}-\d{4}\b'

# Find all matches of the pattern in the text
dates = re.findall(pattern, text)

# Print the extracted dates
for date in dates:
    print(date)

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 2-3: truncated \UXXXXXXXX escape (1993491585.py, line 1)

In [222]:
import regex as re

In [223]:
from IPython.utils.text import string

In [225]:
text = 'Python Exercises, PHP exercises.'

In [226]:
# Define the pattern to match spaces, commas, and dots
pattern = r'[ ,.]'

In [227]:
# Replace matched pattern with a colon
replaced_text = re.sub(pattern, ':', text)

In [228]:
print(replaced_text)

Python:Exercises::PHP:exercises: